/* Слайдер для переключения секций приложения */
.slider-container {
    padding-top: 28vw;
    width: 100%;
    height: calc(100vh - 36vw); 
    overflow: hidden;
  }
  
  .slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-out;
    height: 100%;
  }
  
  .slider-section {
    flex: 0 0 100%;
    width: 100%;
    overflow-y: auto;
    height: 100%;
  }
  
  .sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 65vw;
    background-color: white;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .scroll-menu {
    transition: scroll-left 0.3s ease-out;
  }