{{define "validate"}}


<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Validation of data telegrams</title>
    <!-- tg -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <!-- js -->
    <script src="/static/js/validate"></script>
  </head>
  <body></body>
</html>


{{end}}
{{template "validate" .}}